/* 
		_footer.scss
*/

/*
										---FOOTER---
*/


#footer{
	position: relative;
	//min-height: 150px;
	line-height: 170%;
	background-image: url('../img/bg/footer.jpg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	z-index: 1;
	color: white;
	@media (max-width: 991px){
		overflow: hidden;
	}

}


.footer-feedback{
	padding-top: 45px;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	p{
		color: rgba(white, 0.5);
	}
	.btn-def{
		i{
			font-size: 16px;
		}
	}
	@media (max-width: 991px) {
		display: block;
		.btn-def{
			margin-top: 20px;
		}
	}
}
html small{
	font-weight: inherit;
}

.footer-content{
	padding-top: 45px;
	padding-bottom: 45px;
}
.footer-info-items{
	display: flex;

	a{
		&.color-1{
			text-transform: uppercase;
			color: $color-1;
			font-weight: 600;
			font-size: em(14);
			display: inline-block;
			margin-top: 10px;
		}
	}
	figure{
		max-width: 330px;
		display: flex;
		@media (min-width: 992px){
			margin-right: 50px;
			margin-left: 50px;
		}
	}
	.img-content{
		margin-right: 20px;
		margin-top: 5px;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		background-color: $color-1;
		color: white;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		i{
		}
	}
	.title-text{
		color: $color-1;
		margin-bottom: 5px;
		display: block;
		font-weight: 500;
	}
	h5{
		margin-top: 0;
		margin-bottom: 0;
		font-family: $font-family-2;
	}
	@media (min-width: 992px){
		margin-left: -50px;
		margin-right: -50px;
	}
	@media (max-width: 991px){
		flex-direction: column;
		align-items: center;
		figure{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.img-content{
			display: none;
		}
	}
}
.footer-soc{
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	@extend .hover-color-1;
	.fa-paper-plane{
		font-size: 0.8em;
	}
	.list{
		display: flex;
		justify-content: center;
		margin-left: -10px;
		margin-right: -10px;
		color: white;
		li{
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}
.copy-content{
	font-size: 0.85em;
	padding: 8px 0;
	color: rgba(white, 1);
	background-position: center 0px;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: black;
	.color-1{
    font-family: serif;
    font-weight: 500;
	}
	.row{
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
		}
	}
}
.copyright{
	
}
.dev{
}
.map-canvas{
	height: 420px;
	width: 100%;
}
@media (max-width: 991px) {
	.map-canvas{
		height: 240px;
		width: 100%;
	}
}
.contacts{
	
}