@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6oycmy');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?6oycmy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6oycmy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6oycmy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6oycmy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-office-chair-color .path1 {
  &:before {
    content: $icm-office-chair-color-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-office-chair-color .path2 {
  &:before {
    content: $icm-office-chair-color-path2;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-office-chair-color .path3 {
  &:before {
    content: $icm-office-chair-color-path3;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-office-chair-color .path4 {
  &:before {
    content: $icm-office-chair-color-path4;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-phone-receiver {
  &:before {
    content: $icm-phone-receiver; 
  }
}
.icm-placeholder-filled-point {
  &:before {
    content: $icm-placeholder-filled-point; 
  }
}
.icm-prew {
  &:before {
    content: $icm-prew; 
  }
}
.icm-safe {
  &:before {
    content: $icm-safe; 
  }
}
.icm-safe-color .path1 {
  &:before {
    content: $icm-safe-color-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-safe-color .path2 {
  &:before {
    content: $icm-safe-color-path2;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-safe-color .path3 {
  &:before {
    content: $icm-safe-color-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-safe-color .path4 {
  &:before {
    content: $icm-safe-color-path4;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-safe-color .path5 {
  &:before {
    content: $icm-safe-color-path5;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-scroll {
  &:before {
    content: $icm-scroll; 
  }
}
.icm-shopping-cart {
  &:before {
    content: $icm-shopping-cart; 
  }
}
.icm-single-bed {
  &:before {
    content: $icm-single-bed; 
  }
}
.icm-sofa {
  &:before {
    content: $icm-sofa; 
  }
}
.icm-sofa-color .path1 {
  &:before {
    content: $icm-sofa-color-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-sofa-color .path2 {
  &:before {
    content: $icm-sofa-color-path2;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-sofa-color .path3 {
  &:before {
    content: $icm-sofa-color-path3;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-sofa-color .path4 {
  &:before {
    content: $icm-sofa-color-path4;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-sofa-color .path5 {
  &:before {
    content: $icm-sofa-color-path5;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-sofa-color .path6 {
  &:before {
    content: $icm-sofa-color-path6;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-storage {
  &:before {
    content: $icm-storage; 
  }
}
.icm-storage-color .path1 {
  &:before {
    content: $icm-storage-color-path1;  
    color: rgb(219, 31, 38);
  }
}
.icm-storage-color .path2 {
  &:before {
    content: $icm-storage-color-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-storage-color .path3 {
  &:before {
    content: $icm-storage-color-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-storage-color .path4 {
  &:before {
    content: $icm-storage-color-path4;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-Subtract {
  &:before {
    content: $icm-Subtract;     
    color: #fff;
  }
}
.icm-tag {
  &:before {
    content: $icm-tag; 
  }
}
.icm-tv-table {
  &:before {
    content: $icm-tv-table; 
  }
}
.icm-tv-table-color .path1 {
  &:before {
    content: $icm-tv-table-color-path1;  
    color: rgb(219, 31, 38);
  }
}
.icm-tv-table-color .path2 {
  &:before {
    content: $icm-tv-table-color-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-wardrobe {
  &:before {
    content: $icm-wardrobe; 
  }
}
.icm-wardrobe-color .path1 {
  &:before {
    content: $icm-wardrobe-color-path1;  
    color: rgb(219, 31, 38);
  }
}
.icm-wardrobe-color .path2 {
  &:before {
    content: $icm-wardrobe-color-path2;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-wardrobe-color .path3 {
  &:before {
    content: $icm-wardrobe-color-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-warranty {
  &:before {
    content: $icm-warranty; 
  }
}
.icm-zoom-in {
  &:before {
    content: $icm-zoom-in; 
  }
}
.icm-armchair {
  &:before {
    content: $icm-armchair; 
  }
}
.icm-armchair-color .path1 {
  &:before {
    content: $icm-armchair-color-path1;  
    color: rgb(219, 31, 38);
  }
}
.icm-armchair-color .path2 {
  &:before {
    content: $icm-armchair-color-path2;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-armchair-color .path3 {
  &:before {
    content: $icm-armchair-color-path3;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-armchair-color .path4 {
  &:before {
    content: $icm-armchair-color-path4;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-armchair-color .path5 {
  &:before {
    content: $icm-armchair-color-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-arrow-pointing-to-right {
  &:before {
    content: $icm-arrow-pointing-to-right; 
  }
}
.icm-bunk-bed {
  &:before {
    content: $icm-bunk-bed; 
  }
}
.icm-bunk-bed-color .path1 {
  &:before {
    content: $icm-bunk-bed-color-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-bunk-bed-color .path2 {
  &:before {
    content: $icm-bunk-bed-color-path2;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-bunk-bed-color .path3 {
  &:before {
    content: $icm-bunk-bed-color-path3;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-bunk-bed-color .path4 {
  &:before {
    content: $icm-bunk-bed-color-path4;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-bunk-bed-color .path5 {
  &:before {
    content: $icm-bunk-bed-color-path5;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-buy {
  &:before {
    content: $icm-buy; 
  }
}
.icm-chair {
  &:before {
    content: $icm-chair; 
  }
}
.icm-chair-color .path1 {
  &:before {
    content: $icm-chair-color-path1;  
    color: rgb(229, 30, 38);
  }
}
.icm-chair-color .path2 {
  &:before {
    content: $icm-chair-color-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-clock {
  &:before {
    content: $icm-clock; 
  }
}
.icm-close {
  &:before {
    content: $icm-close; 
  }
}
.icm-delivery {
  &:before {
    content: $icm-delivery; 
  }
}
.icm-desk {
  &:before {
    content: $icm-desk; 
  }
}
.icm-desk-color .path1 {
  &:before {
    content: $icm-desk-color-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-desk-color .path2 {
  &:before {
    content: $icm-desk-color-path2;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path3 {
  &:before {
    content: $icm-desk-color-path3;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path4 {
  &:before {
    content: $icm-desk-color-path4;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path5 {
  &:before {
    content: $icm-desk-color-path5;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path6 {
  &:before {
    content: $icm-desk-color-path6;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path7 {
  &:before {
    content: $icm-desk-color-path7;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path8 {
  &:before {
    content: $icm-desk-color-path8;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path9 {
  &:before {
    content: $icm-desk-color-path9;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-desk-color .path10 {
  &:before {
    content: $icm-desk-color-path10;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-dining-table {
  &:before {
    content: $icm-dining-table; 
  }
}
.icm-dining-table-color .path1 {
  &:before {
    content: $icm-dining-table-color-path1;  
    color: rgb(219, 31, 38);
  }
}
.icm-dining-table-color .path2 {
  &:before {
    content: $icm-dining-table-color-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-dining-table-color .path3 {
  &:before {
    content: $icm-dining-table-color-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-diploma {
  &:before {
    content: $icm-diploma; 
  }
}
.icm-document {
  &:before {
    content: $icm-document; 
  }
}
.icm-door-lock {
  &:before {
    content: $icm-door-lock; 
  }
}
.icm-door-lock-color .path1 {
  &:before {
    content: $icm-door-lock-color-path1;  
    color: rgb(219, 31, 38);
  }
}
.icm-door-lock-color .path2 {
  &:before {
    content: $icm-door-lock-color-path2;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-door-lock-color .path3 {
  &:before {
    content: $icm-door-lock-color-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-door-lock-color .path4 {
  &:before {
    content: $icm-door-lock-color-path4;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-envelope-shape {
  &:before {
    content: $icm-envelope-shape; 
  }
}
.icm-file-cabinet {
  &:before {
    content: $icm-file-cabinet; 
  }
}
.icm-file-cabinet-color .path1 {
  &:before {
    content: $icm-file-cabinet-color-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-file-cabinet-color .path2 {
  &:before {
    content: $icm-file-cabinet-color-path2;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-file-cabinet-color .path3 {
  &:before {
    content: $icm-file-cabinet-color-path3;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-file-cabinet-color .path4 {
  &:before {
    content: $icm-file-cabinet-color-path4;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-file-cabinet-color .path5 {
  &:before {
    content: $icm-file-cabinet-color-path5;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-info {
  &:before {
    content: $icm-info; 
  }
}
.icm-kitchen {
  &:before {
    content: $icm-kitchen; 
  }
}
.icm-kitchen-color .path1 {
  &:before {
    content: $icm-kitchen-color-path1;  
    color: rgb(219, 31, 38);
  }
}
.icm-kitchen-color .path2 {
  &:before {
    content: $icm-kitchen-color-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icm-kitchen-color .path3 {
  &:before {
    content: $icm-kitchen-color-path3;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-kitchen-color .path4 {
  &:before {
    content: $icm-kitchen-color-path4;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-kitchen-color .path5 {
  &:before {
    content: $icm-kitchen-color-path5;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-kitchen-color .path6 {
  &:before {
    content: $icm-kitchen-color-path6;  
    margin-left: -1em;  
    color: rgb(219, 31, 38);
  }
}
.icm-magnifying-glass {
  &:before {
    content: $icm-magnifying-glass; 
  }
}
.icm-next {
  &:before {
    content: $icm-next; 
  }
}
.icm-office-furnituresvg {
  &:before {
    content: $icm-office-furnituresvg; 
  }
}
.icm-office-chair {
  &:before {
    content: $icm-office-chair; 
  }
}
.icm-office-chair-1 {
  &:before {
    content: $icm-office-chair-1; 
  }
}
.icm-office-chair-1-color .path1 {
  &:before {
    content: $icm-office-chair-1-color-path1;  
    color: rgb(0, 0, 0);
  }
}
.icm-office-chair-1-color .path2 {
  &:before {
    content: $icm-office-chair-1-color-path2;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}
.icm-office-chair-1-color .path3 {
  &:before {
    content: $icm-office-chair-1-color-path3;  
    margin-left: -1em;  
    color: rgb(229, 30, 38);
  }
}

