@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6oycmy');
  src:  url('fonts/icomoon.eot?6oycmy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6oycmy') format('truetype'),
    url('fonts/icomoon.woff?6oycmy') format('woff'),
    url('fonts/icomoon.svg?6oycmy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icm-"], [class*=" icm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-office-chair-color .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icm-office-chair-color .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-office-chair-color .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-office-chair-color .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-phone-receiver:before {
  content: "\e904";
}
.icm-placeholder-filled-point:before {
  content: "\e905";
}
.icm-prew:before {
  content: "\e906";
}
.icm-safe:before {
  content: "\e907";
}
.icm-safe-color .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icm-safe-color .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-safe-color .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-safe-color .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-safe-color .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-scroll:before {
  content: "\e90d";
}
.icm-shopping-cart:before {
  content: "\e90e";
}
.icm-single-bed:before {
  content: "\e90f";
}
.icm-sofa:before {
  content: "\e910";
}
.icm-sofa-color .path1:before {
  content: "\e911";
  color: rgb(0, 0, 0);
}
.icm-sofa-color .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-sofa-color .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-sofa-color .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-sofa-color .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-sofa-color .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-storage:before {
  content: "\e917";
}
.icm-storage-color .path1:before {
  content: "\e918";
  color: rgb(219, 31, 38);
}
.icm-storage-color .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-storage-color .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-storage-color .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-Subtract:before {
  content: "\e91c";
  color: #fff;
}
.icm-tag:before {
  content: "\e91d";
}
.icm-tv-table:before {
  content: "\e91e";
}
.icm-tv-table-color .path1:before {
  content: "\e91f";
  color: rgb(219, 31, 38);
}
.icm-tv-table-color .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-wardrobe:before {
  content: "\e921";
}
.icm-wardrobe-color .path1:before {
  content: "\e922";
  color: rgb(219, 31, 38);
}
.icm-wardrobe-color .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-wardrobe-color .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-warranty:before {
  content: "\e925";
}
.icm-zoom-in:before {
  content: "\e926";
}
.icm-armchair:before {
  content: "\e927";
}
.icm-armchair-color .path1:before {
  content: "\e928";
  color: rgb(219, 31, 38);
}
.icm-armchair-color .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-armchair-color .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-armchair-color .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-armchair-color .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-arrow-pointing-to-right:before {
  content: "\e92d";
}
.icm-bunk-bed:before {
  content: "\e92e";
}
.icm-bunk-bed-color .path1:before {
  content: "\e92f";
  color: rgb(0, 0, 0);
}
.icm-bunk-bed-color .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-bunk-bed-color .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-bunk-bed-color .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-bunk-bed-color .path5:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-buy:before {
  content: "\e934";
}
.icm-chair:before {
  content: "\e935";
}
.icm-chair-color .path1:before {
  content: "\e936";
  color: rgb(229, 30, 38);
}
.icm-chair-color .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-clock:before {
  content: "\e938";
}
.icm-close:before {
  content: "\e939";
}
.icm-delivery:before {
  content: "\e93a";
}
.icm-desk:before {
  content: "\e93b";
}
.icm-desk-color .path1:before {
  content: "\e93c";
  color: rgb(0, 0, 0);
}
.icm-desk-color .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path4:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path5:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path6:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path7:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path8:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path9:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-desk-color .path10:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-dining-table:before {
  content: "\e946";
}
.icm-dining-table-color .path1:before {
  content: "\e947";
  color: rgb(219, 31, 38);
}
.icm-dining-table-color .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-dining-table-color .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-diploma:before {
  content: "\e94a";
}
.icm-document:before {
  content: "\e94b";
}
.icm-door-lock:before {
  content: "\e94c";
}
.icm-door-lock-color .path1:before {
  content: "\e94d";
  color: rgb(219, 31, 38);
}
.icm-door-lock-color .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-door-lock-color .path3:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-door-lock-color .path4:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-envelope-shape:before {
  content: "\e951";
}
.icm-file-cabinet:before {
  content: "\e952";
}
.icm-file-cabinet-color .path1:before {
  content: "\e953";
  color: rgb(0, 0, 0);
}
.icm-file-cabinet-color .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-file-cabinet-color .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-file-cabinet-color .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-file-cabinet-color .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-info:before {
  content: "\e958";
}
.icm-kitchen:before {
  content: "\e959";
}
.icm-kitchen-color .path1:before {
  content: "\e95a";
  color: rgb(219, 31, 38);
}
.icm-kitchen-color .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icm-kitchen-color .path3:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-kitchen-color .path4:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-kitchen-color .path5:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-kitchen-color .path6:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(219, 31, 38);
}
.icm-magnifying-glass:before {
  content: "\e960";
}
.icm-next:before {
  content: "\e961";
}
.icm-office-furnituresvg:before {
  content: "\e962";
}
.icm-office-chair:before {
  content: "\e963";
}
.icm-office-chair-1:before {
  content: "\e964";
}
.icm-office-chair-1-color .path1:before {
  content: "\e965";
  color: rgb(0, 0, 0);
}
.icm-office-chair-1-color .path2:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
.icm-office-chair-1-color .path3:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(229, 30, 38);
}
