$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-office-chair-color-path1: "\e900";
$icm-office-chair-color-path2: "\e901";
$icm-office-chair-color-path3: "\e902";
$icm-office-chair-color-path4: "\e903";
$icm-phone-receiver: "\e904";
$icm-placeholder-filled-point: "\e905";
$icm-prew: "\e906";
$icm-safe: "\e907";
$icm-safe-color-path1: "\e908";
$icm-safe-color-path2: "\e909";
$icm-safe-color-path3: "\e90a";
$icm-safe-color-path4: "\e90b";
$icm-safe-color-path5: "\e90c";
$icm-scroll: "\e90d";
$icm-shopping-cart: "\e90e";
$icm-single-bed: "\e90f";
$icm-sofa: "\e910";
$icm-sofa-color-path1: "\e911";
$icm-sofa-color-path2: "\e912";
$icm-sofa-color-path3: "\e913";
$icm-sofa-color-path4: "\e914";
$icm-sofa-color-path5: "\e915";
$icm-sofa-color-path6: "\e916";
$icm-storage: "\e917";
$icm-storage-color-path1: "\e918";
$icm-storage-color-path2: "\e919";
$icm-storage-color-path3: "\e91a";
$icm-storage-color-path4: "\e91b";
$icm-Subtract: "\e91c";
$icm-tag: "\e91d";
$icm-tv-table: "\e91e";
$icm-tv-table-color-path1: "\e91f";
$icm-tv-table-color-path2: "\e920";
$icm-wardrobe: "\e921";
$icm-wardrobe-color-path1: "\e922";
$icm-wardrobe-color-path2: "\e923";
$icm-wardrobe-color-path3: "\e924";
$icm-warranty: "\e925";
$icm-zoom-in: "\e926";
$icm-armchair: "\e927";
$icm-armchair-color-path1: "\e928";
$icm-armchair-color-path2: "\e929";
$icm-armchair-color-path3: "\e92a";
$icm-armchair-color-path4: "\e92b";
$icm-armchair-color-path5: "\e92c";
$icm-arrow-pointing-to-right: "\e92d";
$icm-bunk-bed: "\e92e";
$icm-bunk-bed-color-path1: "\e92f";
$icm-bunk-bed-color-path2: "\e930";
$icm-bunk-bed-color-path3: "\e931";
$icm-bunk-bed-color-path4: "\e932";
$icm-bunk-bed-color-path5: "\e933";
$icm-buy: "\e934";
$icm-chair: "\e935";
$icm-chair-color-path1: "\e936";
$icm-chair-color-path2: "\e937";
$icm-clock: "\e938";
$icm-close: "\e939";
$icm-delivery: "\e93a";
$icm-desk: "\e93b";
$icm-desk-color-path1: "\e93c";
$icm-desk-color-path2: "\e93d";
$icm-desk-color-path3: "\e93e";
$icm-desk-color-path4: "\e93f";
$icm-desk-color-path5: "\e940";
$icm-desk-color-path6: "\e941";
$icm-desk-color-path7: "\e942";
$icm-desk-color-path8: "\e943";
$icm-desk-color-path9: "\e944";
$icm-desk-color-path10: "\e945";
$icm-dining-table: "\e946";
$icm-dining-table-color-path1: "\e947";
$icm-dining-table-color-path2: "\e948";
$icm-dining-table-color-path3: "\e949";
$icm-diploma: "\e94a";
$icm-document: "\e94b";
$icm-door-lock: "\e94c";
$icm-door-lock-color-path1: "\e94d";
$icm-door-lock-color-path2: "\e94e";
$icm-door-lock-color-path3: "\e94f";
$icm-door-lock-color-path4: "\e950";
$icm-envelope-shape: "\e951";
$icm-file-cabinet: "\e952";
$icm-file-cabinet-color-path1: "\e953";
$icm-file-cabinet-color-path2: "\e954";
$icm-file-cabinet-color-path3: "\e955";
$icm-file-cabinet-color-path4: "\e956";
$icm-file-cabinet-color-path5: "\e957";
$icm-info: "\e958";
$icm-kitchen: "\e959";
$icm-kitchen-color-path1: "\e95a";
$icm-kitchen-color-path2: "\e95b";
$icm-kitchen-color-path3: "\e95c";
$icm-kitchen-color-path4: "\e95d";
$icm-kitchen-color-path5: "\e95e";
$icm-kitchen-color-path6: "\e95f";
$icm-magnifying-glass: "\e960";
$icm-next: "\e961";
$icm-office-furnituresvg: "\e962";
$icm-office-chair: "\e963";
$icm-office-chair-1: "\e964";
$icm-office-chair-1-color-path1: "\e965";
$icm-office-chair-1-color-path2: "\e966";
$icm-office-chair-1-color-path3: "\e967";

