$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-kitchen-path1: "\e900";
$icm-kitchen-path2: "\e901";
$icm-kitchen-path3: "\e902";
$icm-kitchen-path4: "\e903";
$icm-kitchen-path5: "\e904";
$icm-kitchen-path6: "\e905";
$icm-magnifying-glass: "\e906";
$icm-next: "\e907";
$icm-office-furnituresvg: "\e908";
$icm-office-chair-1-path1: "\e909";
$icm-office-chair-1-path2: "\e90a";
$icm-office-chair-1-path3: "\e90b";
$icm-office-chair-path1: "\e90c";
$icm-office-chair-path2: "\e90d";
$icm-office-chair-path3: "\e90e";
$icm-office-chair-path4: "\e90f";
$icm-phone-receiver: "\e910";
$icm-placeholder-filled-point: "\e911";
$icm-prew: "\e912";
$icm-safe-path1: "\e913";
$icm-safe-path2: "\e914";
$icm-safe-path3: "\e915";
$icm-safe-path4: "\e916";
$icm-safe-path5: "\e917";
$icm-scroll: "\e918";
$icm-shopping-cart: "\e919";
$icm-single-bed: "\e91a";
$icm-sofa-path1: "\e91b";
$icm-sofa-path2: "\e91c";
$icm-sofa-path3: "\e91d";
$icm-sofa-path4: "\e91e";
$icm-sofa-path5: "\e91f";
$icm-sofa-path6: "\e920";
$icm-storage-path1: "\e921";
$icm-storage-path2: "\e922";
$icm-storage-path3: "\e923";
$icm-storage-path4: "\e924";
$icm-Subtract: "\e925";
$icm-tag: "\e926";
$icm-tv-table-path1: "\e927";
$icm-tv-table-path2: "\e928";
$icm-wardrobe-path1: "\e929";
$icm-wardrobe-path2: "\e92a";
$icm-wardrobe-path3: "\e92b";
$icm-warranty: "\e92c";
$icm-zoom-in: "\e92d";
$icm-armchair-path1: "\e92e";
$icm-armchair-path2: "\e92f";
$icm-armchair-path3: "\e930";
$icm-armchair-path4: "\e931";
$icm-armchair-path5: "\e932";
$icm-arrow: "\e933";
$icm-arrow-pointing-to-right: "\e934";
$icm-bunk-bed-path1: "\e935";
$icm-bunk-bed-path2: "\e936";
$icm-bunk-bed-path3: "\e937";
$icm-bunk-bed-path4: "\e938";
$icm-bunk-bed-path5: "\e939";
$icm-buy: "\e93a";
$icm-chair: "\e93b";
$icm-chair-2-path1: "\e93c";
$icm-chair-2-path2: "\e93d";
$icm-clock: "\e93e";
$icm-close: "\e93f";
$icm-delivery: "\e940";
$icm-desk-path1: "\e941";
$icm-desk-path2: "\e942";
$icm-desk-path3: "\e943";
$icm-desk-path4: "\e944";
$icm-desk-path5: "\e945";
$icm-desk-path6: "\e946";
$icm-desk-path7: "\e947";
$icm-desk-path8: "\e948";
$icm-desk-path9: "\e949";
$icm-desk-path10: "\e94a";
$icm-dining-table-path1: "\e94b";
$icm-dining-table-path2: "\e94c";
$icm-dining-table-path3: "\e94d";
$icm-diploma: "\e94e";
$icm-document: "\e94f";
$icm-door-lock-path1: "\e950";
$icm-door-lock-path2: "\e951";
$icm-door-lock-path3: "\e952";
$icm-door-lock-path4: "\e953";
$icm-envelope-shape: "\e954";
$icm-file-cabinet-path1: "\e955";
$icm-file-cabinet-path2: "\e956";
$icm-file-cabinet-path3: "\e957";
$icm-file-cabinet-path4: "\e958";
$icm-file-cabinet-path5: "\e959";
$icm-House-furniture: "\e95a";
$icm-info: "\e95b";

